body {
  margin: 0;
  padding: 0;
  background: #062659;
  font-family: 'Lato', 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
